{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "extends": ["react-app", "airbnb"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "flowtype"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "no-unused-expressions": "off",
    "no-irregular-whitespace": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-filename-extension": "off",
    "semi": [
      1,
      "never"
    ]
  },
  "globals": {
    "expect": true,
    "should": true
  }
}