@import '../../styles/sizes';

.field {
  width: 100%;

  .field__label {
    display: flex;
    flex-direction: column;

    & > input {
      padding: 0.5rem;
      font-size: 1.3rem;
      border-radius: $border-radius;
      border: solid 2px rgba(53, 74, 87, 0.9);
      outline: none;
    }
  }
}